.container {
  display: flex;
  flex-direction: column;
 }
 .head{
 flex:1;
 background-color: aqua;
 }
 
 .foot{
   flex:1;
   background-color: aqua;
 }
 .footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .body{
   flex:3;
   background-color: cadetblue;
   display: flex;
 }
 .filter{
 flex:1;
 background-color: blue;
 }
 .products{
 flex:4;
 background-color: brown;
 }
 
 .product-list{
   list-style-type:none;
   display: flex;
   flex-wrap: wrap;
  align-content: space-around;
 
 }
 
 .product-items{
   width: 80px;
   height: 80px;
   margin: 10px;
   border: 1px solid white;
 
   flex-basis: 25%;
   flex-wrap: nowrap; 
  
   display: flex;
   align-items: center;
   justify-content: center;
 }